body {
    margin: 0px;
    padding: 0px;
    font-family: 'Do Hyeon', sans-serif;
    width: 100vw;
    height: 100vh;
}
.side_nav {
    float: left;
    width: 200px;
    height: 100vh;
    position: relative;
}

.side_nav a {
    color: black;
    text-decoration: none;
}


.ky_pp_logo img {
    position: relative;
    top: 5px;
    width: 200px;
}

.side_nav #userNumber {
    display: block;
    font-size: 25px;
    text-align: center;
}

.side_nav #userName {
    display: block;
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
}

.side_nav .logout_icon {
    display: block;
    font-size: 27px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* 메뉴 아이콘 */

.side_nav .menu_box ul li a span {
    display: block;
    color: black;
    font-size: 30px;
    text-align: center;
}

.side_nav .menu_box ul {
    padding: 0px;
}

.side_nav .menu_box ul li {
    list-style: none;
}

.side_nav .menu_box ul li a {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    margin-top: 30px;
    margin-left: 30px;
}

.side_nav .menu_box ul li a span:nth-child(1) {
    margin-top: 45px;
}

.side_nav .menu_box ul li a .reservation_icon {
    margin-top: 5px;
}

.side_nav .menu_box ul li a .declaration_icon {
    margin-top: 6px;
}

.side_nav .menu_box ul li a .notice_board_icon {
    margin-top: 6px;
}

.side_nav .menu_box ul li span:hover{
    animation-name: choice_menu;
    animation-duration: 0.3s;
    position: relative;
}


/* main */
main {
    position: absolute;
    left: 200px;
    height: 100vh;
}

main .menu_check {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 45px;
    cursor: pointer;
}

@keyframes choice_menu {
    from {font-size : 30px;}
    to {font-size : 35px;}
}

#table_floor_plan {
    position: absolute;
    top: 105px;
    left: 20px;
    z-index : -2;
    width: 1200px;
    height: 500px;
}

.time_interface {
    top: 17px;
    position: absolute;
    font-size: 30px;
    left: 475px;
    width: 300px;
}


/* room */
.table_room button {
    width: 40px;
    height: 34px;
    bottom: 15px;
    position: absolute;
}

.manager_room {
    background-color: aquamarine;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 162px;
    height: 158px;
    font-size: 40px;
    left: 36px;
    top: 121px;
}

.manager_room span {
    position: relative;
    top: 35%;
    left: 34px;
}

.table_room .room_1_reservation {
    left: 38%;
}

.table_room .room_down_reservation {
    left: 38%;
}

.room_1 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 166px;
    height: 158px;
    font-size: 30px;
    left: 202px;
    top: 121px;
}

.room_1 span {
    font-size: 50px;
    position: relative;
    top: 29%;
    left: 44%;
}

.room_2 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 158px;
    height: 155px;
    font-size: 30px;
    left: 207px;
    top: 416px;
}

.room_2 span {
    font-size: 50px;
    position: relative;
    top: 29%;
    left: 44%;
}


.room_3 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 158px;
    font-size: 30px;
    left: 371px;
    top: 121px;
}

.room_3 span {
    font-size: 50px;
    position: absolute;
    top: 29%;
    left: 44%;
}

.room_4 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 155px;
    font-size: 30px;
    left: 369px;
    top: 416px;
}

.room_4 span {
    font-size: 50px;
    position: relative;
    top: 29%;
    left: 44%;
}

.room_5 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 164px;
    height: 158px;
    font-size: 30px;
    left: 539px;
    top: 121px;
}

.room_5 span {
    font-size: 50px;
    position: absolute;
    top: 29%;
    left: 44%;
}

.room_6 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 155px;
    font-size: 30px;
    left: 538px;
    top: 416px;
}

.room_6 span {
    font-size: 50px;
    position: relative;
    top: 29%;
    left: 44%;
}

.room_7 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 164px;
    height: 158px;
    font-size: 30px;
    left: 706px;
    top: 121px;
}

.room_7 span {
    font-size: 50px;
    position: absolute;
    top: 29%;
    left: 44%;
}

.room_8 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 155px;
    font-size: 30px;
    left: 706px;
    top: 416px;
}

.room_8 span {
    font-size: 50px;
    position: relative;
    top: 29%;
    left: 44%;
}

.room_9 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 164px;
    height: 158px;
    font-size: 30px;
    left: 873px;
    top: 121px;
}

.room_9 span {
    font-size: 50px;
    position: absolute;
    top: 29%;
    left: 44%;
}

.room_10 {
    background-color: aquamarine;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 155px;
    font-size: 30px;
    left: 873px;
    top: 416px;
}

.room_10 span {
    font-size: 50px;
    position: relative;
    top: 29%;
    left: 37%;
}

