body {
    margin: 0px;
    padding: 0px;
    font-family: 'Do Hyeon', sans-serif;
}

.side_nav {
    background-color: antiquewhite;
    width: 200px;
    height: 100vh;
}

.ky_pp_logo img {
    width: 200px;
}

.side_nav #userNumber {
    display: block;
    font-size: 25px;
    text-align: center;
}

.side_nav #userName {
    display: block;
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
}

.side_nav .menu_box ul {
    padding: 0px;
}

.side_nav .menu_box ul li {
    list-style: none;
}

.side_nav .menu_box ul li a {
    text-decoration: none;
}

.side_nav .menu_box ul li a span {
    color: black;
}

main {

    left: 200px;
}
