<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/main_CSS.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Libre+Franklin:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>

<body>
    <div class="side_nav">
        <div class="ky_pp_logo">
            <a href="">
                <img src="/public/ky_pp_logo.jpeg" alt="건양 융합발전소" class="ky_pp_img">
            </a>
        </div>
        <br>
        <span id="userNumber" name="userNumber">userNumber</span>
        <br>
        <span id="userName" name="userName">userName</span>
        <!--로그아웃-->
        <a href="http://">
            <span class="material-symbols-outlined logout_icon">logout</span>
        </a>
        <nav class="menu_box">
            <ul>
                <li>
                    <a href="http://">
                        <i class="material-symbols-outlined reservation_icon">check_circle</i>
                        <span>예약</span>
                    </a>
                </li>
                <li>
                    <a href="http://">
                        <i class="material-symbols-outlined declaration_icon">sms_failed</i>
                        <span>신고</span>
                    </a>
                </li>
                <li>
                    <a href="http://">
                        <i class="material-symbols-outlined notice_board_icon">forum</i>
                        <span>게시판</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
    <main>
        <!-- 모바일에서 추가되어야 할 기능 -->
        <!-- <i class="material-symbols-outlined menu_check" onclick="menu_check_onclick_fcn()">menu</i> -->
        <img id="table_floor_plan" src="/public/table.png" alt="" srcset="">
        <div class="time_interface">
            <span id="real_time"></span>
        </div>

        <div id="table_room" class='table_room'>
            <div id="manager_room" class="manager_room">
                <span>관리자</span>
            </div>
            <div id="room_1" class="room_1">
                <span>1</span>
                <button id="room_1_reservation" class="room_1_reservation" value="1">예약</button>
            </div>
            <div id="room_2" class="room_2">
                <span>2</span>
                <button id="room_down_reservation" class="room_down_reservation" value="2">예약</button>
            </div>
            <div id="room_3" class="room_3">
                <span>3</span>
                <button id="room_1_reservation" class="room_1_reservation" value="3">예약</button>
            </div>
            <div id="room_4" class="room_4">
                <span>4</span>
                <button id="room_down_reservation" class="room_down_reservation" value="4">예약</button>
            </div>
            <div id="room_5" class="room_5">
                <span>5</span>
                <button id="room_1_reservation" class="room_1_reservation" value="5">예약</button>
            </div>
            <div id="room_6" class="room_6">
                <span>6</span>
                <button id="room_down_reservation" class="room_down_reservation" value="6">예약</button>
            </div>
            <div id="room_7" class="room_7">
                <span>7</span>
                <button id="room_1_reservation" class="room_1_reservation" value="7">예약</button>
            </div>
            <div id="room_8" class="room_8">
                <span>8</span>
                <button id="room_down_reservation" class="room_down_reservation" value="6">예약</button>
            </div>
            <div id="room_9" class="room_9">
                <span>9</span>
                <button id="room_1_reservation" class="room_1_reservation" value="9">예약</button>
            </div>
            <div id="room_10" class="room_10">
                <span>10</span>
                <button id="room_down_reservation" class="room_down_reservation" value="10">예약</button>
            </div>
        </div>
    </main>

    <script src="/src/script/main_script.js"></script>
</body>

</html>